
#bg-cover {
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
  height: 90vh;
  background-color: #43D8C9;
  border-bottom-left-radius: 19px;
}

#bg-cover-welcome {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 85%;
  height: 90vh;
  background-color: #43D8C9;
  border-top-right-radius: 19px;
}






.right-home-container {
  width: 10%;
  height: calc(100vh - 100px);
  /* max-height: 100vh;
  max-height: 100vh; */
  /* background-color: #43D8C9; */
  /* position: relative; */
}

.rectangle-banner.spotify{
  border-radius: 20px;
  transform: rotate(-35deg);
  position: absolute;
  bottom: 50vh;
  right: 15vw;
  z-index: 999999;
  width: 280px;
  box-shadow: 0 10px 10px -5px;
}

.rectangle-banner.loan{
  border-radius: 20px;
  transform: rotate(-35deg);
  position: absolute;
  bottom: 13vh;
  right: 14vw;
  z-index: 999999;
  width: 280px;
  box-shadow: 0 10px 10px -5px;
}

.rectangle-banner.savings{
  border-radius: 20px;
  transform: rotate(-35deg);
  position: absolute;
  bottom: 35vh;
  right: 1vw;
  z-index: 10;
  width: 220px;
  box-shadow: 0 10px 10px -5px;
}

@media only screen and (max-width: 768px) {
  .rectangle-banner {
    display: none;
  }
}


.the-hand {
  position: absolute;
  height: 100%;
  min-height: 400px;
  max-width: 500px;
  right: -5em;
  top: 30%;
  z-index: 10;
}

.the-hand-up {
  position: absolute;
  height: 70%;
  min-height: 700px;
  max-width: 500px;
  right: 10em;
  bottom: 0;
  z-index: 10;
}

.the-thumbs-up {
  position: absolute;
  height: 70%;
  min-height: 700px;
  max-width: 500px;
  right: 0em;
  bottom: 0;
  z-index: 10;
}

.the-phone-up {
  position: absolute;
  height: 70%;
  min-height: 700px;
  max-width: 500px;
  right: 0em;
  bottom: 0;
  z-index: 10;
}



@media only screen and (max-width: 1128px) {
  .the-hand-up {
    max-width: 250px;
    bottom: -10em;


  }
}

@media only screen and (max-width: 768px) {
  .the-hand-up {
    right: 2em;
    bottom: -7em;
    max-width: 200px;


  }
}




@media only screen and (max-width: 768px) {
  .the-hand {
    top: 30%;
    max-width: 300px;


  }
}



.css-3z75l1 {
  height: 100vh;
  max-height: 100vh;
}

.pieChart {
  position: absolute;
  min-height: 1250px;
  right: -18em;
  bottom: -23em;
  z-index: 5;
  transform: rotate(-30deg);
}

@media only screen and (max-width: 1128px) {
  .pieChart {
    min-height: 800px;
    right: -4em;
    top: -10em;
  


  }
}

@media only screen and (max-width: 1024px) {
  .pieChart {
    display: none;


  }
}




.welcome-top {
  height: 100px;
}

.slider-wrapper {
  background-color: yellow;

}

.carousel-wrapper {
  background-color: yellow;
}

.open {
  display: block;
}

.close {
  display: none;
}


/* Top Dashboard */

body {
  background: rgb(212, 212, 212);
}

.top-dash-container {
  margin: 0 auto;
  margin-top: 100px;
  width: 85%;
  height: 300px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;

}

@media only screen and (max-width: 1024px) {
  .top-dash-container {
    flex-direction: column;
    height: 100%;
    width: 100%;

  }
}


.left-top-dash {
  background: white;
  width: 55%;
  height: 100%;
  border-radius: 10px;

}

@media only screen and (max-width: 1024px) {
  .left-top-dash {
    width: 100%;

  }
}


.left-top-dash-flex {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  
}

@media only screen and (max-width: 968px) {
  .left-top-dash-flex {
    display: flex;
    flex-direction: column;
  }
}


.main-account {
  padding-bottom: 30px;
  color: gray;

}

.user-bank {
  font-weight: bold;
 
}

.account-number {
  padding-top: 10px;
  color: gray;

}

.main-account-buttons {
  width: 350px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.left-top-dash-flex button {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}

.left-top-dash-flex button.spending-button {
  background: url('/wavy.png');
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  background-color: #43D8C9;

}

.main-account-container {

}

.right-top-dash {
  width: 40%;
  height: 100%;
  border-radius: 10px;
  background: #43D8C9;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .right-top-dash {
    width: 100%;
    margin-top: 10px;
  }
}



.calendar-container {
  margin: 0 auto;
  width: 90%;
}

.funds {
  line-height: 60px;
  font-size: 1rem;
}

.available {
  color: gray;

}

.account-amount {
  font-weight: bolder;
}

.calendar-container .carousel .slide { 
  background: url('/wavy.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #43D8C9; 
}

.calendar-content {
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  
}

.calendar-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.calendar-flex h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  
}

.calendar-flex p {
  font-size: 1rem;
  margin-bottom: 10px;
  
}


.calendar-container button.set-goals {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  width: 150px;
}


#calendar {
  width: 80px;
  align-self: flex-end;
}


/* Middle dashboard container  */



.mid-dash-container {
  margin: 0 auto;
  width: 85%;
  height: 200px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;

}

@media only screen and (max-width: 1024px) {
  .mid-dash-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
}


.mid-dash {
  background: white;
  width: 25%;
  height: 100%;
  border-radius: 10px;

}

@media only screen and (max-width: 968px) {
  .mid-dash {
    margin-top: 40px;
    width: 95%;

  }
}



.mid-dash-flex {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  
}

@media only screen and (max-width: 968px) {
  .mid-dash-flex {
    min-height: 170px;
    min-width: 250px;
    display: flex;
    justify-content: space-around;
  }
}

.needs-container {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
}

@media only screen and (max-width: 968px) {
  .needs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
}

.category {
  font-size: 1.2rem;
  font-weight: bold;
}

.needs-info {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;

}


@media only screen and (max-width: 968px) {
  .needs-info {
    line-height: 40px;  
  }
}


.card-icons {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 968px) {
  .card-icons {
    display: flex;
    height: 80px;
    flex-direction: column;
  }
  }

  .needs-category {
    color: #43D8C9;
    font-size: 1.4rem;
    font-weight: bolder;

  }


.total-needs {
  font-weight: bolder;
  color: #00303F;
}

@media only screen and (max-width: 968px) {
  .total-needs {
    font-size: .9rem;
    
  }
}

/* bottom of dashboard */

.bottom-dash-container {
  height: 500px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 50px;
}

.left-bottom-dash {
  height: 100%;
  width: 55%;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .left-bottom-dash {
    display: none;  
  }
}


.right-bottom-dash {
  height: 100%;
  width: 40%;
  background: white;
  border-radius: 10px;

}

.top-left-bottom-dash {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.latest-label {
  font-weight: bolder;
}

.arrow-icon {
  color: white;
  cursor: pointer;
  font-size: 3rem;
  background: #43D8C9;
  padding: 10px;
  border-radius: 10px;
}

.bottom-left-bottom-dash {
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #43D8C9;
}

.date {
  width: 16%;
  font-weight: bold;
  text-align: left;

}

.where {
  width:  16%;
  font-size: .8rem;
  font-weight: 500;

}

.payment {
  width: 16%;
  font-size: .8rem;
  text-align: left;


  color: #43D8C9;
}

.transaction-category {
  width: 16%;
  text-align: left;
  font-size: .8rem;

}

.cost {
  width: 16%;
  text-align: left;

}

.more {
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.more p {
  padding-right: 5px;
}