
#bg-cover {
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
  height: 90vh;
  background-color: #43D8C9;
  border-bottom-left-radius: 19px;
}

#bg-cover-welcome {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 85%;
  height: 90vh;
  background-color: #43D8C9;
  border-top-right-radius: 19px;
}






.right-home-container {
  width: 10%;
  height: calc(100vh - 100px);
  /* max-height: 100vh;
  max-height: 100vh; */
  /* background-color: #43D8C9; */
  /* position: relative; */
}

.rectangle-banner.spotify{
  border-radius: 20px;
  transform: rotate(-35deg);
  position: absolute;
  bottom: 50vh;
  right: 15vw;
  z-index: 999999;
  width: 280px;
  box-shadow: 0 10px 10px -5px;
}

.rectangle-banner.loan{
  border-radius: 20px;
  transform: rotate(-35deg);
  position: absolute;
  bottom: 13vh;
  right: 14vw;
  z-index: 999999;
  width: 280px;
  box-shadow: 0 10px 10px -5px;
}

.rectangle-banner.savings{
  border-radius: 20px;
  transform: rotate(-35deg);
  position: absolute;
  bottom: 35vh;
  right: 1vw;
  z-index: 10;
  width: 220px;
  box-shadow: 0 10px 10px -5px;
}

@media only screen and (max-width: 768px) {
  .rectangle-banner {
    display: none;
  }
}


.the-hand {
  position: absolute;
  height: 100%;
  min-height: 400px;
  max-width: 500px;
  right: -5em;
  top: 30%;
  z-index: 10;
}

.the-hand-up {
  position: absolute;
  height: 70%;
  min-height: 700px;
  max-width: 500px;
  right: 10em;
  bottom: 0;
  z-index: 10;
}

.the-thumbs-up {
  position: absolute;
  height: 70%;
  min-height: 700px;
  max-width: 500px;
  right: 0em;
  bottom: 0;
  z-index: 10;
}

.the-phone-up {
  position: absolute;
  height: 70%;
  min-height: 700px;
  max-width: 500px;
  right: 0em;
  bottom: 0;
  z-index: 10;
}



@media only screen and (max-width: 1128px) {
  .the-hand-up {
    max-width: 250px;
    bottom: -10em;


  }
}

@media only screen and (max-width: 768px) {
  .the-hand-up {
    right: 2em;
    bottom: -7em;
    max-width: 200px;


  }
}




@media only screen and (max-width: 768px) {
  .the-hand {
    top: 30%;
    max-width: 300px;


  }
}



.css-3z75l1 {
  height: 100vh;
  max-height: 100vh;
}

.pieChart {
  position: absolute;
  min-height: 1250px;
  right: -18em;
  bottom: -23em;
  z-index: 5;
  transform: rotate(-30deg);
}

@media only screen and (max-width: 1128px) {
  .pieChart {
    min-height: 800px;
    right: -4em;
    top: -10em;
  


  }
}

@media only screen and (max-width: 1024px) {
  .pieChart {
    display: none;


  }
}




.welcome-top {
  height: 100px;
}

.slider-wrapper {
  background-color: yellow;

}

.carousel-wrapper {
  background-color: yellow;
}

.open {
  display: block;
}

.close {
  display: none;
}

/* Navbar */

.navbar-container {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.logo {
  position: relative;
  
}

.logo.dark h1 {
  font-size: 1.2rem;
  width: 200px;
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -16px;
  font-weight: bold;
  color: white;
}


.logo h1 {
  font-size: 1.2rem;
  width: 200px;
  position: absolute;
  left: 50px;
  top: 50%;
  margin-top: -16px;
  font-weight: bold;
  color: '#00303F';
}




.navbar-container ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.navbar-container li{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  color: #00303F;
}

.navbar-container.dark li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-weight: 500;
    color: white;
  
  
}


.home-icon {
  font-size: 1.4rem;
  margin-bottom: 10px;
}



/* Top Dashboard */

body {

  background: #F8F8F8;
}


.full-dashboard-contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.stock-bar {
  height: 50px;
}

.nav-dash {
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .nav-dash{
    flex-direction: column;
    }
}


.nav-holder {
  width: 10%;
}

// @media only screen and (max-width: 1024px) {
//   .nav-holder {
//     display: none;
//     }
// }
.dashboard-container-dark {
  padding-bottom: 50px;
  margin: 0 auto;
  width: 90%;
  background: #0e1117;
  border-radius: 10px;
}


.dashboard-container {
  padding-bottom: 50px;
  margin: 0 auto;
  width: 90%;
  background: #EEEFF3;
  border-radius: 10px;
}



@media only screen and (max-width: 1024px) {
  .dashboard-container {
    padding-top: 0px;
    padding-bottom: 0px;
    }
}


.top-dash-container {
  margin: 0 auto;
  width: 85%;
  height: 260px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

 
}


@media only screen and (max-width: 1024px) {
  .top-dash-container {
    flex-direction: column;
    height: 100%;
    width: 100%;

  }
}


.left-top-dash {
  background: white;
  width: 55%;
  height: 100%;
  border-radius: 10px;

}

@media only screen and (max-width: 1024px) {
  .left-top-dash {
    width: 100%;

  }
}


.left-top-dash-flex {
  margin: 0 auto;
  width: 95%;
  height: 100%;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  
}

@media only screen and (max-width: 968px) {
  .left-top-dash-flex {
    display: flex;
    flex-direction: column;
  }
}


.main-account {
  padding-bottom: 30px;
  color: gray;

}

.user-bank {
  font-weight: bold;
 
}

.account-number {
  padding-top: 10px;
  color: gray;

}

.main-account-buttons {
  width: 350px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.left-top-dash-flex button {
  background-color: whitesmoke;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}

.left-top-dash-flex button.spending-button {
  background: url('/wavy.png');
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  background-color: #43D8C9;

}

.main-account-container {

}

.right-top-dash {
  width: 40%;
  height: 100%;
  border-radius: 10px;
  background: #43D8C9;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .right-top-dash {
    width: 100%;
    margin-top: 10px;
  }
}



.calendar-container {
  margin: 0 auto;
  width: 90%;
}

.funds {
  line-height: 60px;
  font-size: 1rem;
}

.available {
  color: gray;

}

.account-amount {
  font-weight: bolder;
}

.calendar-container .carousel .slide { 
  background: url('/wavy.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #43D8C9; 
}

.calendar-content {
  height: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  text-align: left;
  
}

.calendar-flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}

.calendar-flex h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  
}

.calendar-flex p {
  font-size: 1rem;
  margin-bottom: 10px;
  
}


.calendar-container button.set-goals {
  background-color: white;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  width: 150px;
  
}


#calendar {
  width: 80px;
  align-self: flex-end;
}


/* Middle dashboard container  */



.mid-dash-container {
  margin: 0 auto;
  width: 85%;
  height: 160px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

}

@media only screen and (max-width: 1024px) {
  .mid-dash-container {
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
}


.mid-dash {
  background: white;
  width: 32%;
  height: 100%;
  border-radius: 10px;

}

@media only screen and (max-width: 968px) {
  .mid-dash {
    margin-top: 40px;
    width: 95%;

  }
}



.mid-dash-flex {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

@media only screen and (max-width: 968px) {
  .mid-dash-flex {
    min-height: 170px;
    min-width: 250px;
    display: flex;
    justify-content: space-around;
  }
}

.needs-container {
  display: flex;
  flex-direction: column;
  height: 70%;
  justify-content: space-between;
}

@media only screen and (max-width: 968px) {
  .needs-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
}

.category {
  font-size: 1.1rem;
  font-weight: bold;
}

.needs-info {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;

}


@media only screen and (max-width: 968px) {
  .needs-info {
    line-height: 40px;  
  }
}


.card-icons {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 968px) {
  .card-icons {
    display: flex;
    height: 80px;
    flex-direction: column;
  }
  }

  .needs-category {
    color: #43D8C9;
    font-size: 1.2rem;
    font-weight: bolder;

  }


.total-needs {
  font-weight: bolder;
  color: #00303F;
}

@media only screen and (max-width: 968px) {
  .total-needs {
    font-size: .9rem;
    
  }
}

/* bottom of dashboard */

.bottom-dash-container {
  height: 500px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 35px;
}

.left-bottom-dash-flex {
  width: 55%;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.left-bottom-dash {
  height: 400px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

@media only screen and (max-width: 1024px) {
  .left-bottom-dash {
    display: none;  
  }
}



/* .top-left-bottom-dash {
  height: 400px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
} */

.top-left-bottom-dash-label {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}






.latest-label {
  font-weight: bolder;
}

.arrow-icon {
  color: white;
  cursor: pointer;
  font-size: 3rem;
  background: #43D8C9;
  padding: 10px;
  border-radius: 10px;
}

.bottom-left-bottom-dash {
  margin: 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #43D8C9;
}

.date {
  width: 16%;
  font-weight: bold;
  text-align: left;
  color: #00303F;

}

.where {
  width:  16%;
  font-size: .8rem;
  font-weight: 500;

}

.payment {
  width: 16%;
  font-size: .8rem;
  text-align: left;


  color: #43D8C9;
}

.transaction-category {
  width: 16%;
  text-align: left;
  font-size: .8rem;

}

.cost {
  width: 16%;
  text-align: left;

}

.more {
  padding-top: 5px;
  display: flex;
  align-items: center;
}

.more p {
  padding-right: 5px;
}

.right-bottom-dash {
  height: 500px;
  width: 40%;
  background: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

@media only screen and (max-width: 1024px) {
  .right-bottom-dash {
    width: 100%;
  
  }
  }



.top-right-bottom-dash {
 
  height: 400px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
 
}

.top-right-bottom-dash-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.bottom-right-bottom-dash {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #43D8C9;
  padding-bottom: 10px;
}

.period {
  padding-bottom: 10px;
  color: #43D8C9;
}

.expenses {
  font-weight: bolder;
}

.expense-visual {
  height: 200px;
}

.pie-chart {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.snapshot-text {
  font-size: .9rem;
  font-weight: bold;
}

.visual-flex {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;

}


/* STOCK BAR */

 .ticker-text {
  color: orange;
  padding-left: 5px;
  cursor: pointer;
}

$duration: 60s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 30px;
  background-color: rgba(#000, 0.9); 
  z-index: 1;
  .ticker {

    display: inline-block;
    white-space: nowrap;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {

      display: inline-block;

      padding: 0 2rem;
      color: white;   

    }

  }

}



.dashboard-container-dark p{
  color: white;
}


.dashboard-container-dark .left-top-dash {
  background: black;
}

.dashboard-container-dark .mid-dash {
  background: black;
}

.dashboard-container-dark .left-bottom-dash-flex {
  background: black;
}

.dashboard-container-dark .right-bottom-dash {
  background: black;
}


/* light and dark button */


.toggle-button-cover
{
    display: table-cell;
    position: relative;
    width: 120px;
    height: 50px;
}


.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}


#button-4 .knobs:before, #button-4 .knobs:after
{
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: black;
    font-size: 7px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    z-index: 9999999999;

}

#button-4 .knobs:before
{
    content: '';
}

#button-4 .knobs:after
{
    content: '';
}

#button-4 .knobs:after
{
    top: -28px;
    right: 4px;
    left: auto;
    background-color: black;
    z-index: 9999999999;
}

#button-4 .checkbox:checked + .knobs:before
{
    top: -28px;
}

#button-4 .checkbox:checked + .knobs:after
{
    top: 4px;
}

#button-4 .checkbox:checked ~ .layer
{
    background-color: #fcebeb;
}

.mode-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.modes {
  font-size: .7rem;
  width: 120px;
  text-align: center;
  font-weight: bold;
}

.dash-labels {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}


.dash-account {
  width: 50%;
}

.dash-calendar {
  width: 40%;
}