
#bg-cover {
  position: absolute;
  right: 0;
  top: 0;
  width: 85%;
  height: 90vh;
  background-color: #43D8C9;
  z-index: -1;
  border-bottom-left-radius: 19px ;
}
.right-home-container {
  width: 10%;
  height: calc(100vh - 100px);
  /* max-height: 100vh;
  max-height: 100vh; */
  /* background-color: #43D8C9; */
  /* position: relative; */
}

.rectangle-banner {
  border-radius: 20px;
  transform: rotate(-35deg);
  position: absolute;
  bottom: 50vh;
  right: 15vw;
  z-index: 999999;

}

.the-hand {
  position: absolute;
  height: 100%;
  min-height: 400px;
  max-width: 500px;
  right: -5em;
  top: 30%;
  z-index: -1;
  /* bottom: -90px;
  right: -18px; */

}


.css-3z75l1 {
  height: 100vh;
  max-height: 100vh;
}